<nav>
  <header>
    <%= image_tag("stumulas.png", class: "logo") %>
  </header>
  <ul>
    <li>
      <span>Stimulus Hotwire Small Project</span>
    </li>
  </ul>
  <div>
    <%= link_to "Some Page", root_path, class: "nav-link" %>
  </div>
</nav>
